body {
    background-color: #ffff00;
    color: #ff00ff;
    font-family: "Comic Mono", "Comic Sans MS", serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body#body.light a {
    color:#0000ff;
}

body#body.dark a {
    color:#c6c6ff;
}

body#body.dark {
    background-color: #0000ff;
    color: #ffff00;
}

body#body.no-css.dark {
    background-color: #141414;
    color: #ececec;
    font-family: serif ;
}

body#body.no-css.light *, body#body.no-css.light{
    background-color: #ffffff ;
    color: #000000 ;
    font-family: serif ;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff0000;
    font-family: "Jokerman","Comic Mono", "Comic Sans MS", serif;
}

table, td, th {
    border-style: solid;
    border-color: #ff0000;
}

table.no-css, td.no-css, th.no-css {
    border-style: solid;
    border-color: #000000;
}

table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    margin: auto;
}

img {
    width: 50%;
}

#head-image {
    text-align: center;
}

@media (max-width: 1000px) {
    table {width:100%;}
    img {width: 90%;}
    #essay {margin:2%}
}

.text {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.25rem;
    margin: 5%;
    line-height: 2rem;
}

#essay h2 {
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
}

#essay h3 {
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
}

h3, h3+p, h2, h2+p /*stack overflow again*/ {
    display:inline;
}

.comment {
    color: #017501;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/blockquote [the CSS in the example, edited a bit] */

div:has(> blockquote) {
  background-color: #ff00c8;
  color: #000000;
  margin: 10px auto;
  padding: 15px;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

blockquote + p {
  text-align: right;
}