body {
    background-color: #ffff00;
    color: #ff00ff;
    font-family: "Comic Sans MS", serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body#body.no-css *{
    background-color: #ffffff ;
    color: #000000 ;
    font-family: serif ;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff0000;
    font-family: "Jokerman", "Comic Sans MS", serif;
}

table, td, th {
    border-style: solid;
    border-color: #ff0000;
}

table {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    margin: auto;
}

img {
    width: 50%;
}

#head-image {
    text-align: center;
}

@media (max-width: 1000px) {
    table {width:100%;}
    img {width: 90%;}
}

#essay {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.25rem;
}

#essay h2 {
    font-size: 2rem;
    font-family:'Times New Roman', Times, serif;
}

#essay h3 {
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
}